<h1>Vowel Replace</h1>

<p>Stump your friends with this word game!</p>

<form action='/output' method='get'>
  <div class="form-group">
    <!--input field for user one-->
    <label for="userInput">Enter something for your friends to guess:</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
