<h1>Can you stump your friends?</h1>

<p>Enter in a sentence or paragraph and see if your friends are stumped when we take out the vowells! Can they guess what you wrote?</p>

<form action='/output' method='get'>
  <div class="form">
    <!--input field for user one-->
    <label for="userInput">Place your sentence here, make it a good one...:</label>
    <input id="userInput" name="userInput" class="form" type="text">
  </div>

  <button type="submit" class="btn">Go!</button>
</form>
